{% extends layout %}

{% block title %}A propos - POS-Tech{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
<h2 id="title" class="about">A propos</h2>
<p></p>
{% endblock %}
