{% extends layout %}

{% block title %}Gestion des catégories de produit{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
<h2>Gestion des catégories</h2>
<p>Ici viendra l'interface de gestion des catégories</p>
{% endblock %}