{% extends layout %}

{% block title %}Gestion des produits{% endblock %}
{% block description %}Interface de gestion des produits.{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
	<h2>Gestion des produits</h2>
{% autoescape false %}
{{ searchbar.render }}
{% endautoescape %}
	<table class="table table-hover">
	<thead>
	<tr>
	<th>Code</th>
	<th>Référence</th>
	<th>Libellé</th>
	<th>action</th>
	</tr>
	</thead>
	<tbody>
	{% for product in products_list %}
		{% set vars = {'product': product} %}
		<tr>
		{% include 'product-line.twig' with vars %}

		</tr>
	{% endfor %}
	</tbody>
	</table>
	{% set vars = {'pagination': pagination} %}
	
	{% include 'pagination.twig' with vars %}
	
	<div><a href="{{ path('product_edit', { 'id': 'new' } ) }}" class="btn btn-success">Ajouter un nouveau produit</a></div>


{% endblock %}
