{% extends layout %}

{% block title %}Gestion des produits{% endblock %}
{% block description %}Interface de gestion des produits.{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
	<h2>Gestion des produits</h2>

	<table>
	<thead>
	<tr>
	<th>Code</th>
	<th>Référence</th>
	<th>Libellé</th>
	<th>action</th>
	</tr>
	</thead>
	<tbody>
	{% for product in products_list %}
		{% set vars = {'product': product} %}
		<tr>
		{% include 'product-line.twig' with vars %}

		</tr>
	{% endfor %}
	</tbody>
	</table>
	<p><a href="{{ path('product_delete', { 'id': 'new' } ) }}">Ajouter un nouveau produit</a></p>


{% endblock %}