<div id="searchbar_{{name}}">
<form method="get" {{ form_enctype(form) }}  class="form-search" > 
{{form_widget(form) }}
    <input type="submit" value="rechercher" id="send" name="send" class="btn" />
</form>
</div>