{% extends layout %}

{% block title %}Gestion des fournisseurs{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
<h2>Gestion des fournisseurs</h2>
<p>Ici viendra l'interface de gestion des fournisseurs</p>
{% endblock %}