<td>{{ taxes.label }}</td>
<td>
	<a href="{{ path('taxe', { 'id': taxes.ID } ) }}">Voir</a>
	<a href="{{ path('taxe_edit', { 'id': taxes.ID } ) }}">Modifer</a>
	<a href="{{ path('taxe_delete', { 'id': taxes.ID } ) }}">Supprimer</a>
</td>
