<td>{{ taxes.label }}</td>
<td>
	<a href="{{ path('taxes', { 'id': taxes.ID } ) }}">Voir</a>
	<a href="{{ path('taxes_edit', { 'id': taxes.ID } ) }}">Modifer</a>
	<a href="{{ path('taxes_delete', { 'id': taxes.ID } ) }}">Supprimer</a>
</td>
