<?php

class Config {
    static $db_type = "mysql";
    static $host = "localhost";
    static $port = 3306;
    static $database = "pos-tech";
    static $user = "user";
    static $password = "password";
}

?>
